.checkout {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.checkout__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  max-width: 1200px;
  width: 100%;
}

.checkout__title {
  margin: 0;
  font-size: 32px;
}

.checkout__description {
  margin: 0;
}

.checkout__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.checkout__form input,
.checkout__form textarea {
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.checkout__input_textarea {
  resize: none;
}

.checkout__apply-button {
  margin-left: 10px;
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.3s ease;
  border: none;
  color: white;
  background-color: #0062ff;
}

.checkout__apply-button:hover {
  cursor: pointer;
  transform: translateY(-3px);
  background-color: #01c4ff;
  border: none;
}

.checkout__discount-message {
  margin: -10px 0 0 5px;
}

.checkout__submit-button {
  padding: 1rem;
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.checkout__submit-button:hover {
  background-color: #333;
}
@media screen and (max-width: 945px) {
  .checkout__apply-button {
    font-size: 18px;
  }
}

@media screen and (max-width: 861px) {
  .checkout__apply-button {
    margin: 10px 10px 0 0;
  }
}

@media screen and (max-width: 740px) {
  .checkout__container {
    display: flex;
    flex-direction: column-reverse;
  }

  .checkout__apply-button {
    margin: 0 0 0 10px;
  }
}

@media screen and (max-width: 440px) {
  .checkout__apply-button {
    margin: 10px 13px 0 0;
  }
}
