.checkout {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.checkout__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  max-width: 1200px;
  width: 100%;
}

.checkout__title {
  margin: 0;
  font-size: 32px;
}

.checkout__description {
  margin: 0;
}

.checkout__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.checkout__form input,
.checkout__form textarea {
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.checkout__input_textarea {
  resize: none;
}

.checkout__submit-button {
  padding: 1rem;
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.checkout__submit-button:hover {
  background-color: #333;
}
