.cart-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #00000060;
}

.cart-menu__content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 60%;
  background-color: blue;
}
