.dashboard {
  padding: 20px;
  background-color: rgb(213, 213, 213);
  height: 100%;
}

.dashboard__header {
  display: flex;
}

.dashboard__button {
  background-color: transparent;
  border: none;
  text-wrap: nowrap;
  font-size: 20px;
}

.dashboard__button:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: rgba(0, 0, 0, 0.51);
}

.dashboard__button_logout {
  color: red;
  padding-right: 20px;
}

.dashboard__content {
  display: grid;
  grid-template-columns: 12% 88%;
}

.dashboard__title {
  width: 100%;
  color: black;
  font-size: 32px;
  margin: 0 0 10px 0;
}

@media screen and (max-width: 1250px) {
  .dashboard__content {
    display: flex;
    flex-direction: column;
  }
}
