.exhibit-editor {
  padding: 20px;
}

.exhibit-editor__title {
  margin: 0 0 20px 0;
  font-size: 32px;
}

.exhibit-editor__list {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 20px;
}
