.landing {
  background: url("../../../assets/about-bg.png") no-repeat center/cover;
  padding: 40px;
}

.landing__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #00000060;
  border-radius: 15px;
}

.landing__title {
  font-size: 60px;
  color: white;
  width: 50%;
  margin: 0 0 20px 0;
  text-align: center;
}

@media screen and (max-width: 775px) {
  .landing__content {
    padding: 10px;
  }

  .landing__title {
    font-size: 24px;
    margin: 0 0 10px 0;
  }
}
