.exhibit-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 20%;
}

.exhibit-card:nth-child(even) {
  flex-direction: row-reverse;
}

.exhibit-card__info {
  margin: 20px;
}

.exhibit-card__title {
  font-size: 32px;
  margin: 5px 0;
}

.exhibit-card__subtitle {
  font-size: 24px;
  line-height: 1.3;
}

.exhibit-card__image {
  max-height: 300px;
  object-fit: cover;
}

.exhibit-card__button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exhibit-card__edit-button,
.exhibit-card__delete-button {
  height: 100%;
  width: 100%;
  /* background-color: transparent;
  border: none; */
}
