.art-editor {
  padding: 20px;
}

.art-editor__title {
  margin: 0 0 20px 0;
  font-size: 32px;
}

.art-editor__add-button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: rgb(9, 148, 9);
  margin-bottom: 30px;
}

.art-editor__add-button:hover {
  cursor: pointer;
  color: rgba(12, 184, 12, 0.599);
}

.art-editor__gallery {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 20px;
}

@media screen and (max-width: 800px) {
  .art-editor {
    padding: 10px;
  }

  .art-editor__gallery {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    gap: 15px;
  }
}
