.editor {
  padding: 20px;
}

.editor__add-button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: rgb(9, 148, 9);
  margin-bottom: 30px;
}

.editor__add-button:hover {
  cursor: pointer;
  color: rgba(12, 184, 12, 0.599);
}

.editor__gallery {
  display: grid;
  justify-items: flex-start;
  align-items: start;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 20px;
}
