.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0000005d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: 100;
}

.modal__opened {
  visibility: visible;
}

.modal__content {
  background-color: #ffffff;
  position: relative;
  margin: 16px;
  padding: 20px;
  border-radius: 16px;
  width: 100%;
  max-width: 600px;
  max-height: calc(100dvh - 32px);
  overflow-y: auto;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}

.modal__close-button {
  position: absolute;
  font-size: 32px;
  padding: 0;
  margin: 0;
  top: 15px;
  right: 15px;
  background-color: transparent;
  border: none;
}

.modal__close-button:hover {
  cursor: pointer;
}

.modal__title {
  margin: 0 10px 10px 0;
  font-size: 32px;
}

.modal__description {
  margin: 20px 0 0 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: center;
  margin: 20px 5px 0;
  gap: 12px;
}

.modal__name-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  gap: 30px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  width: 100%;
}

.modal__label_radio {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
  gap: 12px;
}
.modal__input {
  box-sizing: border-box;
  border-radius: 5px;
  padding: 4px 10px;
}

.modal__email-container {
  width: 100%;
}

.modal__email-container .modal__input {
  width: 100%;
  box-sizing: border-box;
}

.modal__input_radio {
  width: 15px;
  flex-shrink: 10;
}

.modal__buttons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  gap: 10px;
  width: 100%;
}

.modal__button {
  font-size: 24px;
  width: 100%;
  padding: 20px 40px;
  border-radius: 8px;
  transition: all 0.3s ease;
  text-wrap: nowrap;
}

.modal__button:hover {
  cursor: pointer;
  transform: translateY(-3px);
}

.modal__button_submit {
  border: none;
  color: white;
  background-color: #0062ff;
}

.modal__button_submit:hover {
  background-color: #01c4ff;
  border: none;
}

.modal__button_disabled {
  border: none;
  color: rgb(125, 125, 125);
  background-color: #c7c7c7;
}

.modal__button_cancel {
  border: none;
  color: white;
  background-color: #e42626;
}

.modal__button_cancel:hover {
  border: none;
  background-color: #e05454;
}

@media screen and (max-width: 600px) {
  .modal {
    align-items: flex-start;
  }

  .modal__content {
    margin: 20px;
    border-radius: 12px;
  }

  .modal__title {
    font-size: 24px;
  }

  .modal__buttons-container {
    flex-direction: column;
  }

  .modal__button {
    font-size: 18px;
  }
}
