.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
  margin: 40px;
  color: white;
  background: url("../../assets/hero-image.png") no-repeat center center/cover;
}

.hero__content {
  width: 100%;
  background-color: #00000070;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 40px;
  border-radius: 12px;
}

.hero__title {
  margin: 0;
  font-size: 64px;
}

.hero__title_style {
  font-style: italic;
  background: linear-gradient(
    90deg,
    rgb(254, 125, 27),
    rgb(42, 200, 231),
    rgb(163, 5, 165)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.hero__subtitle {
  font-size: 32px;
}

.hero__button-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.hero__button {
  font-size: 24px;
  padding: 20px;
}

.hero__button:hover {
  cursor: pointer;
}

.hero__button_main {
  border: none;
}

.hero__button_main:hover {
  background-color: transparent;
  border: 1px solid black;
}

.hero__button_secondary {
  background-color: transparent;
  color: white;
}

.hero__button_secondary:hover {
  background-color: white;
  color: black;
  border: none;
}
