.hero {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  margin: 0 20px 20px;
}

.hero__background {
  position: absolute;
  inset: 0;
  background: url("../../assets/hero-image.png") no-repeat center center/cover;
  filter: blur(8px);
  transform: scale(1.1);
  z-index: 1;
}

.hero__content {
  position: relative;
  z-index: 1;
  padding: 60px;
  border-radius: 12px;
  color: white;
  background-color: #00000040;
}

.hero__title {
  margin: 0;
  font-size: 64px;
}

.hero__title_style {
  font-style: italic;
  background: linear-gradient(
    90deg,
    rgb(254, 125, 27),
    rgb(42, 200, 231),
    rgb(163, 5, 165)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.hero__subtitle {
  font-size: 32px;
}

.hero__button-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.hero__button {
  font-size: 24px;
  padding: 20px 40px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.hero__button:hover {
  cursor: pointer;
  transform: translateY(-3px);
}

.hero__button_main {
  border: none;
  color: white;
  background-color: #0062ff;
}

.hero__button_main:hover {
  background-color: #01c4ff;
  border: none;
}

.hero__button_secondary {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.hero__button_secondary:hover {
  background-color: white;
  color: black;
  border: 1px solid white;
}

@media screen and (max-width: 600px) {
  .hero {
    margin: 0;
    border-radius: 0;
  }

  .hero__content {
    padding: 60px;
  }

  .hero__title {
    font-size: 24px;
  }

  .hero__subtitle {
    font-size: 18px;
  }

  .hero__button {
    font-size: 12px;
    padding: 5px 10px;
  }
}
