.add-art-modal {
  max-height: 90%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  overflow-y: auto;
}

.add-art__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  gap: 12px;
}

.add-art__input-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  width: 100%;
}

.add-art__input,
.add-art__textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-sizing: border-box;
}

.add-art__textarea {
  resize: none;
}

.add-art__image-inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  width: 100%;
}

.add-image-btn {
  align-self: flex-start;
  padding: 6px 12px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.add-image-btn:hover {
  background-color: #e6e6e6;
}

.add-art__section-title {
  margin: 0;
}

.add-art__categories-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px 50px;
}

.add-art__checkbox-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.add-art__checkbox {
  width: 20px;
  height: 20px;
}

.add-art__types {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 10px;
}

.add-art__subsection-title {
  text-align: center;
  margin: 0;
}

.add-art__type-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.add-art__input-label_price,
.add-art__input-label_dimensions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.modal__submit {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}

.modal__submit:hover {
  background-color: #333;
}

@media screen and (max-width: 600px) {
  .add-art__input-label {
    font-size: 12px;
  }

  .add-art__categories-container {
    gap: 4px 20px;
  }

  .add-art__checkbox-label {
    font-size: 12px;
  }

  .add-art__input-label_price,
  .add-art__input-label_dimensions {
    font-size: 12px;
  }
}
