.orders {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  margin: 0 20px 20px;
}

.orders__title {
  margin: 15px 0 10px;
}

.orders__list_unfulfilled,
.orders__list_fulfilled {
  border-radius: 10px;
  border: 1px solid black;
  padding: 12px 18px;
  margin: 10px 0;
  list-style: none;
  background-color: rgb(203, 203, 203);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
}

@media screen and (max-width: 1250px) {
  .orders {
    margin: 0 5px 20px;
    grid-template-columns: 1fr;
  }
}
