.orders {
  margin: 0 40px 20px;
}

.orders__title {
  margin: 5px 0 10px;
}

.orders__list_unfulfilled {
  padding: 5px 10px;
  margin: 10px 0;
  list-style: none;
  background-color: rgb(203, 203, 203);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

@media screen and (max-width: 1250px) {
  .orders {
    margin: 0 5px 20px;
  }
}
