.exhibits {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.exhibits__hero {
  background: url("../../../assets/exhibits-bg.png") no-repeat center/cover;
  height: 200px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 60px;
}

.exhibits__title {
  font-size: 64px;
  margin: 0 0 20px 0;
}

.exhibits__subtitle {
  margin: 0;
  font-size: 24px;
  max-width: 500px;
}

.exhibits__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 20px;
}

.exhibits__section-title {
  margin: 30px 0;
  text-align: center;
  font-size: 32px;
}

.exhibits__no-shows {
  margin: 0;
  text-align: center;
  font-size: 24px;
}
