.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
}

.header__logo {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header__logo:hover {
  cursor: pointer;
}

.header__title {
  margin: 0;
}

.header__hamburger {
  display: none;
  position: relative;
  transform: rotate(90deg);
  font-size: 32px;
  padding: 10px;
  margin: 0 0 0 auto;
}

.header__hamburger:hover {
  cursor: pointer;
  opacity: 0.6;
}

.header__hamburger-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 55px;
  right: 45px;
}

.header__hamburger-option {
  padding: 10px;
  z-index: 10;
}

.header__hamburger-option:hover {
  cursor: pointer;
}

.header__cart-button {
  margin-right: 20px;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 20px 0 0;
  padding: 0;
}

.navbar__link {
  font-size: 24px;
}

.navbar__link:hover {
  cursor: pointer;
}

.header__cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background-color: transparent;
}

.header__cart-button:hover {
  cursor: pointer;
}

.header__cart-icon {
  width: 20px;
}

@media screen and (max-width: 740px) {
  .navbar__link {
    font-size: 18px;
  }
}

@media screen and (max-width: 640px) {
  .header__title {
    font-size: 19px;
  }

  .header__hamburger {
    display: inline-block;
  }

  .navbar__link {
    display: none;
  }
}
