.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
}

.header__logo {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header__logo:hover {
  cursor: pointer;
}

.header__icon {
  width: 40px;
  height: 40px;
  background-color: black;
}

.header__title {
  margin: 0;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 20px 0 0;
  padding: 0;
}

.navbar__link {
  font-size: 24px;
}

.navbar__link:hover {
  cursor: pointer;
}

.header__cart-button {
  padding: 5px 10px;
}

.header__cart-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 740px) {
  .navbar__hamburger {
    display: block;
  }
}
