.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  border: 1px solid black;
  padding: 5px;
  overflow: hidden;
}

.cart-item__image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 8px;
}

.cart-item__title,
.cart-item__price {
  font-size: 24px;
  margin: 0 0 5px 0;
}

.cart-item__controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-item__quantity {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.cart-item__remove-button {
  background-color: transparent;
  border: none;
  color: red;
  opacity: 0;
  cursor: pointer;
}

.cart-item:hover .cart-item__remove-button {
  opacity: 1;
}

.cart-item:hover .cart-item__remove-button:hover {
  opacity: 0.8;
  color: rgb(212, 0, 0);
  transform: scale(1.1);
}

@media screen and (max-width: 480px) {
  .cart-item__image {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }

  .cart-item__title,
  .cart-item__price {
    font-size: 18px;
  }

  .cart-item__quantity {
    font-size: 16px;
  }

  .cart-item__controls {
    gap: 5px;
  }

  .cart-item__remove-button {
    font-size: 12px;
  }
}

@media screen and (max-width: 360px) {
  .cart-item__image {
    width: 50px;
    height: 50px;
    margin-right: 8px;
  }

  .cart-item__title,
  .cart-item__price {
    font-size: 12px;
  }

  .cart-item__quantity {
    font-size: 12px;
  }

  .cart-item {
    padding: 5px 8px;
  }
}
