.gallery {
  margin: 0 20px;
}

.gallery__loading {
  margin: 0 20px;
  font-size: 32px;
  text-align: center;
}

.gallery__tab-select {
  display: none;
}

.gallery__tabs {
  display: flex;
  gap: 12px;
}

.gallery__tabs {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.gallery__tab {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__tab-button {
  border: 1px solid black;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  background-color: #eae8e8;
  font-size: 24px;
  padding: 5px 20px;
  position: relative;
  top: 2px;
  text-wrap: nowrap;
}

.gallery__tab-button:hover {
  cursor: pointer;
  background-color: #dddddd;
}

.gallery__tab-button:active,
.gallery__tab-button:focus {
  background-color: #dddddd;
}

.gallery__content {
  padding: 40px 20px;
  border: 1px solid black;
  background-color: #dddddd;
}

.gallery__content-container {
  display: grid;
  justify-items: flex-start;
  align-items: start;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 20px;
  overflow-y: scroll;
  height: 80vh;
}

@media screen and (min-width: 1600px) {
  .gallery__content-container {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}

@media screen and (min-width: 1920px) {
  .gallery__content-container {
    grid-template-columns: repeat(4, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 1165px) {
  .gallery__tab-button {
    font-size: 12px;
  }
}

@media screen and (max-width: 805px) {
  .gallery__content-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    margin: 5px;
  }

  .gallery__tabs {
    display: none;
  }

  .gallery__tab-select {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 16px;
  }

  .gallery__content {
    grid-template-columns: repeat(1, 1fr);
  }
}
