.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background-color: #dddddd;
}

.gallery__content {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 40px 20px;
  width: 100%;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  overflow-y: scroll;
  height: 50vh;
}

@media screen and (max-width: 768px) {
  .gallery {
    margin: 5px;
  }

  .gallery__content {
    grid-template-columns: repeat(1, 1fr);
  }
}
