.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.footer__navbar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.footer__social {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer__icon {
  width: 40px;
  height: 40px;
  background-color: black;
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
