.Dashboard {
  padding: 20px;
  background-color: rgb(213, 213, 213);
}

.Dashboard__content {
  display: grid;
  grid-template-columns: 12% 88%;
}

.Dashboard__title {
  width: 100%;
  color: black;
  font-size: 32px;
  margin: 0 0 10px 0;
}

@media screen and (max-width: 1250px) {
  .Dashboard__content {
    display: flex;
    flex-direction: column;
  }
}
